---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  
   <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->
  <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
     <a itemprop='url' href=https://www.fiverr.com/josephbalog rel="nofollow" target="_blank" style='display: inline-block;'>
        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-ee31aad7-79e7-442b-a08e-de5db2948b60' itemprop='contentURL' style='display: none;'></div>
        <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name' >josephbalog</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>Well see how it goes is often the phrase of businesses and people at the edge of their knowledge or effort, I try to take it to the next step and create what is going to work. With experience in HTML5/CSS3 and as a Data Analyst, I will build a WordPress Splash page that is to your satisfaction. </div>
       </div>
    </a>
  </div>

<script id='fiverr-seller-widget-script-ee31aad7-79e7-442b-a08e-de5db2948b60' src='https://widgets.fiverr.com/api/v1/seller/josephbalog?widget_id=ee31aad7-79e7-442b-a08e-de5db2948b60' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

  </div>

</article>
